/* Требовалось задать странице основной шрифт, базовый размер и высоту строки */
body {
    font-family: 'Roboto', sans-serif; /* Вопрос. На какие элементы обращать внимание при выборе основного шрифта для страницы? Я ориентировался на основные элементы с текстовым наполнением, не на загловки. Это правильно? */
    font-size: 16px; /* Аналогично вопросу выше. На элементы какого типа смотреть? */
    line-height: normal; /* В макетах figma указано normal. По факту почти везде, за исключение "Katya Mills", было 1.2*/
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

/* В макете ссылки не отличаются от текста. */
a {
    color: inherit;
    cursor: default;
    text-decoration: none;
}

.scalable-photo {
    width: 100%;
    object-fit: contain;
}

.cover-photo {
    width: 100%;
    object-fit: cover;
}