/* Подключаем Playfair Display:500 */
/* @font-face {
    font-family: "Playfair Display";
    src: local("PlayfairDisplay-Medium"),
        local("PlayfairDisplay Medium"),
        local("PlayfairDisplayMedium"),
        url("../fonts/PlayfairDisplay/static/PlayfairDisplay-Medium.woff2") format("woff2"),
        url("../fonts/PlayfairDisplay/static/PlayfairDisplay-Medium.woff") format("woff"),
        url("../fonts/PlayfairDisplay/static/PlayfairDisplay-Medium.ttf") format("ttf");
    font-weight: 500;
}*/

.page-header {
    /* Размеры */
    box-sizing: border-box;
    margin: 0px 20px 0px 23px;
    height: 135px;
}

.navigation {
    /* Размеры */
    height: 100%;

    /* Отображение дочерних элементов */
    display: flex;
    flex-direction: row; /* основная ось идёт горизонтально справа налево, поперечная ось идёт вертикально сверху вниз */
    flex-wrap: nowrap; /* Отображать в одну строку */
    justify-content: right; /* Флекс-элементы прижать к правому краю */
    align-items: center; /* Выровнять по центру поперечной оси (вертикальной оси при flow-direction=row) */
    gap: 0px 55px; /*Отсутуп между flex-элементами.*/
}

/* Элементы навигации. */
.navigation-link {
    /* Шрифт */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    line-height: normal;

    /* Цвет */
    color: #000;
}

/* Подчёркивание элемента навигации при наведении. */
.navigation-link:hover {
    /* Текст */
    text-decoration: underline;
}

.hero-section {
    /* Размеры */
    padding: 0px 0px 0px 0px;
    height: 630px;
    box-sizing: border-box;
    
    /* Фон */
    background-color: #e6ded3;
    background-image: url("../img/hero_section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100%;

    /* Позиционирование */
    position: relative;
}

.hero-section-block {
    /* Размеры */
    width: 690px;
    height: 360px;

    /* Фон */
    background-color: #eee;

    /* Позиционирование */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    /* Отображение дочерних элементов */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /**/
    box-sizing: border-box;
    padding: 110px 20px;
    align-items:center;
    justify-content:center;
}

/* Это "Mod studio". Я посчитал, что это header для страницы, а не одна из её секций, поэтому сделал для неё отдельный стиль и не стал объединять со стилями для Katya Mills и Strengths. */
.hero-section-title {
    /* Размеры */
    margin: 0px 0px 14px 0px;
    box-sizing: border-box;

    /* Шрифт */
    font-family: "Playfair Display", serif; /* Почему-то не работает, если подключать через font-face. По факту используется Times New Roman. При этом ссылка на .ttf-файл корректная, но в отладке не вижу скачивания ttf-файла. */
    font-weight: 500;
    font-size: 86px;
    font-style: normal;

    /* Цвет */
    color: #000;

    /* Интерлиньяж */
    line-height: 120%;
}


/* Титуальная часть слайда
(то место, где "Mod studio", краткая подпись и фоновая картинка. Как правильно такое называется? */

/* Текст заголовка страницы. */
.hero-section-description {
    /* Размеры */
    margin: 0 0;

    /* Шрифт */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;

    /* Цвет */
    color: #000;

    /* Текст */
    text-align: center;
    
}