/* Подключаем Playfair Display:500 */
/*@font-face {
    font-family: "Playfair Display";
    src: local("PlayfairDisplay-Medium"),
        local("PlayfairDisplay Medium"),
        local("PlayfairDisplayMedium"),
        url("../fonts/PlayfairDisplay/static/PlayfairDisplay-Medium.woff2") format("woff2"),
        url("../fonts/PlayfairDisplay/static/PlayfairDisplay-Medium.woff") format("woff"),
        url("../fonts/PlayfairDisplay/static/PlayfairDisplay-Medium.ttf") format("ttf");
    font-weight: 500;
}*/

/* Я понял так, что у каждой секции может быть название (это name) (Biography, Designers, Testimonials, Strong Points) и может быть загловок (это title) (Mod Studio, Katya
Mills, Strengths). */


/* Общее для всех секций. */
.section-common {
    margin-bottom: 150px;
    padding: 0 8px;
}

/* Это для Biography, Designers, Testimonials, Strong Points */
.section-common-name {
    /* Шрифт */
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;

    /* Цвет */
    color: #000;
    
    /* Интерлиньяж */
    line-height: normal;   
}

/* Здесь общее для Katya Mills и Strengths. Стили с индивидуальными особенностями объявлены следом. */
.section-common-title { 
    /* Шрифт */
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 86px;
    font-style: normal;

    /* Цвет */
    color: #000;
}